.cover-container {
    width: 1920px !important;
    height:1080px !important;
    background: url(img/background.jpg) no-repeat;
    background-size: contain;
}

.big_text {
    font-family: 'flama_condensed';
    font-weight: 900;
    font-style: extrabold;
    font-size: 7.5rem;
    color: #38d3aa;
	line-height:1.2;
}

.small_text {
    font-family: 'flama_condensed';
    font-weight: normal;
    font-style: book;
    font-size: 1.65rem;
    line-height: 0;
}

.pl-custom {
    padding-left: 5rem;
}


.social_img {
    width:100%;
    object-fit:contain;
}


.img_container {
     padding-top: 6.5rem;
}

.padding_left {
    padding-left:3rem
}

.padding_container {
    padding-top: 16rem;
}

.subtitled:before {
    position:absolute;
    font-size:2rem;
    margin-top:8.1rem;
    color:#ffffff;
    font-family: 'flama_condensed';
    font-weight: normal;
    font-style: book;
}

.custom_margins_y {
    margin-bottom: -4rem !important;
}

.one_row.padding_container {
    padding-top: 17rem;
}

