/*
 * Globals
 */

/* Links */

@font-face {
    font-family: 'flama_condensed';
    src: url(fonts/flamacondensed-bold-webfont.woff2) format('woff2'),
         url(fonts/flamacondensed-bold-webfont.woff) format('woff');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'flama_condensed';
    src: url(fonts/flamacondensed-black-webfont.woff2) format('woff2'),
         url(fonts/flamacondensed-black-webfont.woff) format('woff');
    font-weight: bold;
    font-style: black;

}

@font-face {
    font-family: 'flama_condensed';
    src: url(fonts/flamacondensed-book-webfont.woff2) format('woff2'),
         url(fonts/flamacondensed-book-webfont.woff) format('woff');
    font-weight: normal;
    font-style: book;

}

 @font-face {
    font-family: 'flama_condensed';
    src: url(fonts//flamacondensed-extrabold-webfont.woff2) format('woff2'),
         url(fonts//flamacondensed-extrabold-webfont.woff) format('woff');
    font-weight: 900;
    font-style: extrabold;
}

@font-face {
    font-family: 'flama_condensed';
    src: url(fonts//flamacondensed-medium-webfont.woff2) format('woff2'),
         url(fonts//flamacondensed-medium-webfont.woff) format('woff');
    font-weight: 500;
    font-style: medium;
}

a,
a:focus,
a:hover {
  color: #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    width: 1920px !important;
    height:1080px !important;
    background: url(img/background.jpg) no-repeat;
    background-size: contain;
}

/*
 * Cover
 */
.cover {
  padding: 0;
}

.header_title {
    font-size: 5rem;
    font-family: 'flama_condensed';
    font-weight: 600;
    font-style: book;
}

.big_text {
    font-family: 'flama_condensed';
    font-weight: 900;
    font-style: extrabold;
    font-size: 7.5rem;
    color: #38d3aa;
	line-height:1.2;
}

.small_text {
    font-family: 'flama_condensed';
    font-weight: normal;
    font-style: book;
    font-size: 1.65rem;
    line-height: 0;
}

.pl-custom {
    padding-left: 5rem;
}


.social_img {
    width:100%;
    object-fit:contain;
}


.img_container {
     padding-top: 6.5rem;
}

.padding_left {
    padding-left:3rem
}

.padding_container {
    padding-top: 16rem;
}

.subtitled:before {
    position:absolute;
    font-size:2rem;
    margin-top:8.1rem;
    color:#ffffff;
    font-family: 'flama_condensed';
    font-weight: normal;
    font-style: book;
}
